:root{
  --light-green:#A0D142;
  --middle-green:#259E75;
  --dark-green:#35796E;
  --shiny-green:#9ef01a;
  --teva-blue:#214E77;
  --teva-blue-darker:#1c4266;
  --light-gray-1:#f8f9fa;
  --light-gray-2:#e9ecef;
  --light-gray-3:#e5e6e4;
  --gray-1:#bcb8b1;
  --gray-2:#cccccc;
  --gray-3:#cfd2cd;
  --gray-3-darker:#a5a5a5;
  --dark-gray-1:#8a817c;
  --dark-gray-2:#847577;
  --dark-gray-3:#7f7f7f;
  --darkest-gray:#3f4238;

}
